[Unit]
Description=Temperature Plot Service
After=network.target

[Service]
User=paczkaexpress # Make sure this is the correct user
WorkingDirectory=/home/paczkaexpress/Software/FlatAirCooler
ExecStart=/bin/bash /home/paczkaexpress/Software/FlatAirCooler/run_temp.sh
Restart=no
StandardOutput=file:/home/paczkaexpress/Software/FlatAirCooler/dash_app.log # Optional: Update log path if needed
StandardError=file:/home/paczkaexpress/Software/FlatAirCooler/dash_app.log  # Optional: Update log path if needed

[Install]
WantedBy=multi-user.target
