[Unit]
Description=Temperature Plot Service (User)
After=graphical-session.target

[Service]
Type=simple
WorkingDirectory=%h/Software/FlatAirCooler
ExecStart=%h/Software/FlatAirCooler/run_temp.sh
Restart=always
RestartSec=30
StandardOutput=file:%h/Software/FlatAirCooler/dash_app.log
StandardError=file:%h/Software/FlatAirCooler/dash_app.log
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority
Environment=HOME=%h

[Install]
WantedBy=default.target 